body {
background:#fff;
margin:0;
padding:0;
}

.unit {
width: 300px;
background:#e9ecf3;
border:1px solid #bbb;
border-radius:8px;
margin:10px auto;
padding:10px 5px 15px;
}

h1 {
font-size:20px;
margin:20px auto;
text-align:center;
}

.strong {
font-size:16px;
font-weight:bold;
color:#1c3e93;
text-align:center;
margin:5px auto;
}

strong, p {
text-align:center;
}


.wrap {
margin:0 auto 10px;
width:200px
}

.buttons {
margin:10px auto 15px;
width:200px
}

.buttons  input {
margin-right:25px;
}

.table {
display:table;
width:193px
}

.table input[type="text"] {
background:#fff
}

.row {
display:table-row
}

.cellright {
padding-right:5px;
display:table-cell;
text-align:center
}

form {
margin:5px 15px 5px 30px;
padding:0
}

.cell {
padding:0 2px 5px 0;
display:table-cell
}

.rshift {
float:right
}

.blue {
color:blue;
}
